@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 25% 7.84%;
    --card: 180 6.67% 97.06%;
    --card-foreground: 210 25% 7.84%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 25% 7.84%;
    --primary: 203.89 88.28% 53.14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 25% 7.84%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 1.96% 90%;
    --muted-foreground: 210 25% 7.84%;
    --accent: 211.58 51.35% 92.75%;
    --accent-foreground: 203.89 88.28% 53.14%;
    --destructive: 356.30 90.56% 54.31%;
    --destructive-foreground: 0 0% 100%;
    --border: 201.43 30.43% 90.98%;
    --input: 200 23.08% 97.45%;
    --ring: 202.82 89.12% 53.14%;
    --chart-1: 203.89 88.28% 53.14%;
    --chart-2: 159.78 100% 36.08%;
    --chart-3: 42.03 92.83% 56.27%;
    --chart-4: 147.14 78.50% 41.96%;
    --chart-5: 341.49 75.20% 50.98%;
    --sidebar: 180 6.67% 97.06%;
    --sidebar-foreground: 210 25% 7.84%;
    --sidebar-primary: 203.89 88.28% 53.14%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 211.58 51.35% 92.75%;
    --sidebar-accent-foreground: 203.89 88.28% 53.14%;
    --sidebar-border: 205.00 25.00% 90.59%;
    --sidebar-ring: 202.82 89.12% 53.14%;
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 1.3rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
    --shadow-2xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-sm: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 1px 2px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 1px 2px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-md: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 2px 4px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-lg: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 4px 6px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 8px 10px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00);
    --expo-out: cubic-bezier(0.16, 1, 0.3, 1);
    --expo-in: cubic-bezier(0.87, 0, 0.13, 1);
  }
  
  .dark {
    --background: 0 0% 0%;
    --foreground: 200 6.67% 91.18%;
    --card: 228 9.80% 10%;
    --card-foreground: 0 0% 85.10%;
    --popover: 0 0% 0%;
    --popover-foreground: 200 6.67% 91.18%;
    --primary: 203.77 87.60% 52.55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 195.00 15.38% 94.90%;
    --secondary-foreground: 210 25% 7.84%;
    --muted: 0 0% 9.41%;
    --muted-foreground: 210 3.39% 46.27%;
    --accent: 205.71 70% 7.84%;
    --accent-foreground: 203.77 87.60% 52.55%;
    --destructive: 356.30 90.56% 54.31%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 5.26% 14.90%;
    --input: 207.69 27.66% 18.43%;
    --ring: 202.82 89.12% 53.14%;
    --chart-1: 203.89 88.28% 53.14%;
    --chart-2: 159.78 100% 36.08%;
    --chart-3: 42.03 92.83% 56.27%;
    --chart-4: 147.14 78.50% 41.96%;
    --chart-5: 341.49 75.20% 50.98%;
    --sidebar: 228 9.80% 10%;
    --sidebar-foreground: 0 0% 85.10%;
    --sidebar-primary: 202.82 89.12% 53.14%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 205.71 70% 7.84%;
    --sidebar-accent-foreground: 203.77 87.60% 52.55%;
    --sidebar-border: 205.71 15.79% 26.08%;
    --sidebar-ring: 202.82 89.12% 53.14%;
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 1.3rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-xs: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-sm: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 1px 2px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 1px 2px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-md: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 2px 4px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-lg: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 4px 6px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00), 0px 8px 10px -1px hsl(202.82 89.12% 53.14% / 0.00);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.82 89.12% 53.14% / 0.00);
    --expo-out: cubic-bezier(0.16, 1, 0.3, 1);
    --expo-in: cubic-bezier(0.87, 0, 0.13, 1);
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2 {
    font-family: 'Manrope', sans-serif;
  }
}







@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;

  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}
